.image-container {
  text-align: center;
  margin: auto;
  padding: 8px 8px;
}

.images {
  margin: 4px;
  width: 45%;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 3%;
  border-width: medium;
}


.intro {
  text-align: center;
  font-size: 36px;
  font-family: sans-serif;
  border-style: solid;

}
