.image-container {
  text-align: center;
  margin: auto;
  padding: 0px 0px;


}

.image-show{
  width: 32%;
  margin: 0px;
  border-style: solid;
  border-color: beige;
  border-width: medium;
  border-radius: 3%;
}

.images {
  margin: 4px;
  width: 45%;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 3%;
  border-width: medium;
}


.intro {
  text-align: center;
  font-size: 36px;
  padding: 8px 8px;
  margin-left: 30%;
  margin-right: 30%;
  font-family: sans-serif;
  border-style: solid;
  border-color: beige;
  border-radius: 10px;
  background-color: beige;

}
